@import url(./reset.css);


/* Section-Title */
title-large{
    font-size: 22px;
    margin: 0;
    letter-spacing: 0.1px;
    color: #E94C26;
    padding: 0;
    /* width: fit-content !important; */
    display: block;
    width: max-content;
}


body{
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:#FFFCF5 !important ;
    height: 100vh;
    color: #E94C26 !important;
    font-weight: bold !important; 
    line-height: 20px;
    /* z-index: -1; */
    overflow-x: hidden;

}


.main_content{
    display: flex;
    flex-direction: column;
    width: 1617px;
    height: 100vh;
    align-items: center;
    align-content: flex-start;
    /* position: absolute;
    top: 186px;
    left: 303px;
    right: 0;
    bottom: 0; */
    padding-top: 60px;
    margin-left: 303px;
    /* margin-right: 50px; */
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    gap: 40px;
    background-color: #FFFCF5;

}


/* .fontawesome-i2svg-active,.fontawesome-i2svg-complete{
    width: 1920px;
} */



/* dropdown-size */
.dropdown_sm{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* dropdown-label */
.form-label{
    color: #7C5021;
    margin: 0 !important;
}

/* Custome-Selector&input size */
.custom-input-sm{
    display: flex;
    width: 160px !important;
    height: 40px;
    align-items: center;
    border: 1px solid #E2E2E2;
    padding: 4px 0px 4px 10px;
    color: #515151;
    border-radius: 4px ;
}

.custom-input-sm:focus{
    border-color: #952327 !important;
    box-shadow: 0px 0px 4px 4px rgba(245, 27, 56, 0.1) !important;
    
}

.custom-input-m{
    display: flex;
    width: 200px !important;
    height: 40px;
    align-items: center;
    border-color: #E2E2E2 !important;
    padding: 4px 0px 4px 10px;
    color: #515151;
    border-radius: 4px ;
}

.custom-input-m:focus{
    border-color: #952327 !important;
    box-shadow: 0px 0px 4px 4px rgba(245, 27, 56, 0.1) !important;
    
}

.custom-input-lg{
    display: flex;
    width: 280px !important;
    height: 40px;
    align-items: center;
    border: 1px solid #E2E2E2;
    padding: 4px 0px 4px 10px;
    color: #515151;
    border-radius: 4px ;
}

/* selector with input function */
.select2-container--default .select2-selection--single {
    display: flex;
    width: 280px !important;
    border: 1px solid #E2E2E2 !important; /* 保留原本的边框 */
    height: 40px !important; /* 保留原本的高度 */
    padding: 4px 10px; /* 保留原本的内边距 */
    display: flex;
    align-items: center;
    color: #515151; /* 保留原本的字体颜色 */
}

/* 调整圆角边框 */
.select2-container--default .select2-selection--single {
    border-radius: 4px; /* 保留原本的圆角边框 */
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 40px !important;
}


.custom-input-lg:focus{
    border: #952327 ;
    box-shadow: 0px 0px 4px 4px rgba(245, 27, 56, 0.1) !important;

}


/* Custom-button Size */

#negative_bt-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height: 44px;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    /* border: 2px solid #952327; */
    border: none;
    background-color:#E5E7EB;
    color: #E94C26;
    font-weight: bold !important; 
}

#positive_bt-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height: 44px;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #E94C26;
}



#negative_bt-m{
    display: flex;
    justify-content: center;
    align-items: center;
    width:160px;
    height: 44px;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color:#E5E7EB;
    color: #E94C26;
    font-weight: bold !important; 
}

#positive_bt-lg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:188px;
    height: 44px;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #E94C26;
}




#positive_bt-sm:hover, #positive_bt-lg:hover{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#negative_bt-sm:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

#negative_bt-m:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

/* Button_Group*/
.button_group{
    display: flex;
    gap: 28px;
    margin-bottom: 20px;
    width: fit-content;
}


.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.3); /* 设置半透明黑色背景 */
}

.invoice_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

/* TOP_SCROLL */


/* content_2_title */
.invoice_search p, .quick_matching_setting p,.invoice_filter p,.iq-card p{
    /* font-size: 24px; */
    /* height: 64px; */
    /* line-height: 64px; */
    width: fit-content;
    margin: 0;
    margin-bottom: 40px;
    align-self: flex-start;
}

/* invoice_search_bg */
.small_block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFE2CB;
    width: 404px;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    gap: 28px;
    margin-bottom: 40px;
}



.modal-content{
    position: relative;
}

.modal-header{
    width: 100%;
    margin: 0 auto;
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-top: 20px;

}

.modal-title{
    width: fit-content;
    margin: 0 auto;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold; 
   
}

.btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0 !important;
}



/* data-table/Invoice-fueling_invoice */
.custom-width{
    width: 1532px !important;
    align-self: center;
}

.table-dark {
    --bs-table-color: #5E3C30 !important;
    --bs-table-bg: #EFE2CB !important;
    
  }
  


.table{
  text-align: left;
  
}


.iq-card-body tr{
    border-color: #dee2e6 !important;
    
}

.table-dark tr th{
    font-weight: bold !important; 
}

.iq-card{
    width: 1508px;
}


.iq-card-body td{
    color: #515151 !important;
}


/* POPUP-dialog */

/* Add Unit Function */
.mask_add_unit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1004;
    /* position: fixed; */
    /* top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.add_unit_dialog{
    width: 434px;
    height: 100vh;
    background-color: #ffffff;
    /* border:5px solid black ; */
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 1005;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E3C30;
}


.xmark_icon{
    width: 32px;
    height: 32px;
    color: #F9F9F9;
    position: absolute;
    top: 20px;
    right: 20px;
}


.dialog_wrapper-lg{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height:fit-content;

}
.dialog_wrapper-m{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* border: 2px solid black; */
    width: 100%;
    height:fit-content;
    
}



.dialog_wrapper-sm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:fit-content;
    gap: 20px;
}


.dialog_wrapper-xs{
    display: flex;
    gap: 28px;
}



.input_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    color: #7C5021;

}


.dropdown_m{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/* Add Range Function */

.mask_range_unit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1004;
    /* position: fixed; */
    /* top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.add_range_dialog{
    width: 434px;
    height: 100vh;
    background-color: #ffffff;
    /* border:5px solid black ; */
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 1005;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E3C30;
}

.dialog_wrapper-lg1{
    width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height:fit-content;
}



/* Edit Unit Dialog */
.mask_edit_unit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1004;
    /* position: fixed; */
    /* top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.edit_unit_dialog{
    width: 434px;
    height: 100vh;
    background-color: #ffffff;
    /* border:5px solid black ; */
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 1005;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E3C30;
}
