@import url(./reset.css);

body{
    font-family: "Noto Sans", sans-serif;
    /* width: 100%; */
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start ;
    overflow: hidden;
    color: #745E48;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

/* *{
    color: #745E48;
    font-size: 16px;
    font-weight: bold;
} */


/* HEADER */

header{
    align-self: self-end;
    display: flex;
    width: 1617px;
    height: 68px;
    align-items: center;
    gap: 877px;
    position: fixed;
    overflow: hidden;
    padding: 0 32px 0 32px;
    box-sizing: border-box;
    background-color: #EFE2CB;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    z-index: 1;
    color: #745E48;

}




header path:hover{
    color:#E94C26 ;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.40);
}



.toggle_icon, .search_icon, .noti_icon , .login_icon{
    width: 32px;
    height:32px;
    /* font-size: 32px; */

}

.toggle_icon{
    display: none;
}



/* Hide&Show ICON and Search */

.left_side {
    display: flex;
    flex-direction: row;
    width: 375px;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.search_block{
    display: flex;
    width: 303px;
    height: 40px;
    background-color: #FFFCF5;
    border: 1px solid #E0E0E0;
    padding: 4px 261px 4px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 40px;
}

.search_block:hover{
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.20);
    border: 1px solid #745E48;
}

/* user&log_out */

.right_side{
    width: 309px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    
}

.user p{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #745E48;
}


.user img{
    display: block;
}

/* Sidebar */
aside{
    display: flex;
    width: 303px;
    height: 1024px;
    flex-direction: column;
    background-color: #EFE2CB;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    text-align: center;
    overflow: hidden;
    position: fixed;
    transition: left 0.3s ease;
}

aside a{
    /* margin-bottom: 24px; */
    text-decoration: none;
}


/* title_section */
aside>ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    margin-top: 24px;
    padding-left: 40px;
    align-items: flex-start;
    justify-content: flex-start;
}

.home, .matching_setting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;  
    width: 100%;
    height: 50px;
}

.invoice_setting, .serial_setting{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    
}

.home a, .invoice_setting a, .matching_setting a, .serial_setting a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;  
    width: 100%;
    height: 50px;
}


/* Title */
aside span{
    margin-left: 12px;
    font-size: 16px;
    color: #745E48;
    font-weight: bold;
}


/* aside_icon */
.aside_icon{
    width: 32px;
    height:32px;
    color: #745E48;
}

.drop_icon{
    width: 24px;
    height: 24px;
    margin-left: 100px;
    color: #745E48;
}

.dash_icon{
    margin-right: 12px;
    color: #745E48;
}

/* invice_setting&dropdown */
.dropdown_block1{
    /* margin: 14px 0; */
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.fueling-class{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 0;
}

.fueling-class a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 0;
}

/* serial_setting */

.dropdown_block2{
    /* margin: 14px 0; */
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.serial-class{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 0;
}

.serial-class a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 14px 0;
}

/* notification */
.mask_noti{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 4;
    /* position: fixed;
    top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.notification{
    width: 433px;
    height: 1024px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 3;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
}

/* top_area */

.top_content{
    height: 131px;
    background-color: #7C5021;
    position: relative;
    /* display: flex; */
}

.top_content p{
    color: #F9F9F9;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;


}

.noti_xmark {
    width: 32px;
    height: 32px;
    color: #F9F9F9;
    position: absolute;
    top: 20px;
    right: 20px;
}

.noti_delete{
    background-color: transparent;
    border: none;
    color: #F9F9F9 ;
    position: absolute;
    font-size: 18px;
    bottom: 26px;
    right: 36px;
}

/* noti_message area */
.noti_message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

.message{
    display: flex;
    height: 68px;
    border-bottom: 2px solid #DDDDDD;
    align-items: center;
    gap: 120px;
    text-indent: 28px;
    color: #5E3C30;
}

input{
    width: 24px;
    height: 24px;
}

