@import url(./reset.css);


/* 年度發票總使用數量&Selector */
.content_1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
}


.card_title_dropdown{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1039px;
    height: 64px;
    width: 1416px;
}


/* .card_title_dropdown p{
    font-size: 24px;
    line-height: 20px;
    margin: 0;
    align-self: flex-start;
} */


/* card_section */
.card_section{
    color: #F9F9F9;
    display: flex;
    width: 1320px;
    height: 124px;
    justify-content: flex-start;
    gap: 80px;
}

.card_section p {
    font-size: 20px;
    letter-spacing: 1.2px;
}


.card_section .card{
    width:200px ;
    height: 124px;
    background-color: #7C5021;
    color: #F9F9F9;
    border-radius: 16px;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 0px 0px 20px 4px rgba(245, 27, 56, 0.1);
}



.percentage{
    /* width: 100%; */
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 154px;
}

.percentage span:nth-child(1){
    font-size: 20px;
    letter-spacing: 1.2px;
    
}

#arrow_trendup{
    color: rgb(124, 248, 124)
}


/* invoice_setting&quick_setting */
.content_2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1416px;
    gap: 80px;
}

.quick_matching_setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}




