@import url(./reset.css);

body{
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:#FFFCF5 !important ;
    height: 100vh;
    color: red !important;
    font-weight: bold !important; 
    line-height: 20px;
    z-index: -1;
    overflow: hidden;
    /* box-sizing: border-box; */
   
}




/* Content section */
.main_content{
    width: 1416px;
    height: 652px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 186px;
    left: 303px;
    right: 0;
    bottom: 0;
    flex: 1;
    overflow-y: auto;
    /* background-color: #FFFCF5; */
    margin: 0 auto 0 auto;
    align-items: center;
    /* border: 2px solid black; */
    box-sizing: border-box;
    gap: 80px;
    /* overflow: hidden; */
    
}


/* 年度發票總使用數量&Selector */
.content_1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}


.card_title_dropdown{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1039px;
    height: 64px;
    width: 1416px;
}


/* .card_title_dropdown p{
    font-size: 24px;
    line-height: 20px;
    margin: 0;
    align-self: flex-start;
} */


/* card_section */
.card_section{
    color: #F9F9F9;
    display: flex;
    width: 1320px;
    height: 124px;
    justify-content: flex-start;
    gap: 80px;
}

.card_section p {
    font-size: 20px;
    letter-spacing: 1.2px;
}


.card_section .card{
    width:200px ;
    height: 124px;
    background-color: #7C5021;
    color: #F9F9F9;
    border-radius: 16px;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 0px 0px 20px 4px rgba(245, 27, 56, 0.1);
}



.percentage{
    /* width: 100%; */
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 154px;
}

.percentage span:nth-child(1){
    font-size: 20px;
    letter-spacing: 1.2px;
    
}

#arrow_trendup{
    color: rgb(124, 248, 124)
}


/* invoice_setting&quick_setting */
.content_2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1416px;
    gap: 80px;
}

.invoie_search{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    align-self: flex-start;
}





/* content_2_title */
.invoie_search p, .quick_matching_setting p{
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    width: fit-content;
    margin: 0;
    margin-bottom: 40px;
}

/* invoice_search_bg */
.small_block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFE2CB;
    width: 404px;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    gap: 28px;
}





/* Add Unit Function */
.mask_add_unit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1004;
    /* position: fixed; */
    /* top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.add_unit_dialog{
    width: 434px;
    height: 100vh;
    background-color: #ffffff;
    /* border:5px solid black ; */
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 1005;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E3C30;
}


.xmark_icon{
    width: 32px;
    height: 32px;
    color: #F9F9F9;
    position: absolute;
    top: 20px;
    right: 20px;
}


.dialog_wrapper-lg{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height:fit-content;

}
.dialog_wrapper-m{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* border: 2px solid black; */
    width: 100%;
    height:fit-content;
    
}



.dialog_wrapper-sm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:fit-content;
    gap: 20px;
}


.input_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

}


.dropdown_m{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/* Add Range Function */

.mask_range_unit{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1004;
    /* position: fixed; */
    /* top: -100%;
    right: -100%;
    transition: right 0.1s; */
}

.add_range_dialog{
    width: 434px;
    height: 100vh;
    background-color: #ffffff;
    /* border:5px solid black ; */
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin: 0 auto;
    z-index: 1005;
    position: fixed;
    top: 0;
    right: -433px;
    transition: right 0.1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E3C30;
}