@import url(./reset.css);

body{
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:#FFFCF5 !important ;
    height: 100vh;
    color: #E94C26 !important;
    font-weight: bold !important; 
    line-height: 20px;
    z-index: -1;
    overflow: hidden;

}


.main_content{
    display: flex;
    width: 1532px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--Padding-Function-small, 28px) var(--Padding-Function-medium, 40px);
    flex-wrap: wrap;

}

.invoice_top_content{
    display: flex;
    width: 1532px;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0px 40px;
    
}

.invoice_filter{
    display: flex;
    width: 1088px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.invoice_filter p{ 
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    width: fit-content;
    margin: 0;
    margin-bottom: 40px;
    align-self: flex-start;
}

.filter_block{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #EFE2CB;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    /* gap: 28px; */
    margin-bottom: 40px;
    
}