@import url(./reset.css);




.range_top_content{
    display: flex;
    width: 1532px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0px 40px;
    
}

.range_setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 680px;
    
}

.range_setting_block{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* align-content: center; */
    background-color: #EFE2CB;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    /* gap: 28px; */
    margin-bottom: 40px;
    
}

.serial_month_setting{
    display: flex;
    width: 1532px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}


.serial_month_block{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #EFE2CB;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    /* gap: 28px; */
    margin-bottom: 40px;
    
}



.table_delete_bt,.table_edit_bt{
    border: none;
    background-color: transparent !important;
    color: #745E48;
    font-weight: bold;
    
}



.iq-card-body td:nth-child(10){
   width: 210px;
  
}


.iq-card-body th:nth-child(10){
    text-align: center;
}

.iq-card-body td:nth-child(9){
    text-align: center;
    width: 120px;
}


.table_edit_bt{
    float: right;
}



svg{
    margin-right: 8px;
  
}

td.checkbox-cell  {
    text-align: center;
    vertical-align: middle; /* 垂直居中 */
}

td.checkbox-cell input {
    text-align: center;
    vertical-align: middle; /* 垂直居中 */
}

.iq-header-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: auto;
    /* width: 1532px; */
    height: 44px;
    margin-bottom: 28px;
}




.confirm_matching_bt{
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}




.confirm_matching_dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}


/* .confirm_matching_dialog p{
    width: fit-content;
    margin: 0;
    margin-bottom: 40px;
    align-self: flex-start;
} */



.confirm_setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: #EFE2CB; */
    width: 404px;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    /* gap: 28px; */
    /* margin-bottom: 20px; */
    color: #5E3C30;
    /* text-indent: 12px; */
    /* overflow: hidden; */
}


.confirm_message{
    display: flex;
    height: 68px;
    /* border-bottom: 2px solid #DDDDDD; */
    align-items: center;
    /* gap: 120px; */
    text-indent: 12px;

}