@import url(./reset.css);




.invoice_top_content{
    display: flex;
    width: 1532px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0px 40px;
    
}

.invoice_filter{
    display: flex;
    width: 1088px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




.filter_block{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #EFE2CB;
    height: 156px;
    border-radius: 16px;
    padding: 28px;
    /* gap: 28px; */
    margin-bottom: 40px;
    
}



.table_delete_bt,.table_edit_bt{
    border: none;
    background-color: transparent !important;
    color: #745E48;
    font-weight: bold;
    
}



.iq-card-body td:nth-child(11){
   width: 210px;
  
}


.iq-card-body th:nth-child(11){
    text-align: center;
}

.iq-card-body th:nth-child(10){
    text-align: center;
}


.iq-card-body td:nth-child(10){
    text-align: center;
    width: 120px;
}


.table_edit_bt{
    float: right;
}



svg{
    margin-right: 8px;
  
}

td.checkbox-cell  {
    text-align: center;
    vertical-align: middle; /* 垂直居中 */
}

td.checkbox-cell input {
    text-align: center;
    vertical-align: middle; /* 垂直居中 */
}

.iq-header-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: auto;
    /* width: 1532px; */
    height: 44px;
    margin-bottom: 28px;
}


